In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/guest/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/guest/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/guest/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/guest/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
#чтение данных
train = pd.read_csv("train.csv")
members = pd.read_csv("members.csv")
songs = pd.read_csv("songs.csv")
test = pd.read_csv("test.csv")
song_info = pd.read_csv("song_extra_info.csv")
train

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1
...,...,...,...,...,...,...
7377413,6xdFzPlrasIDD95mQWXVC3Bg4ptnGYtBl4ztVEZMddU=,VJTxizih/o28kXCbtPbIyWXScoXGvxyYtl6R+0YB5JM=,my library,Local playlist more,local-playlist,1
7377414,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,z1mqaU9YOX7T/PFDvUoWozdFq7rC3KwaQP7nFVprjMI=,search,Search,song,0
7377415,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,750RprmFfLV0bymtDH88g24pLZGVi5VpBAI300P6UOA=,search,Search,song,1
7377416,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,G8wgqObgeAMER/rVCIlgcNeQ8mm0CzF/GsxiMK8TTnA=,discover,Discover Genre,online-playlist,1
7377417,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,Ju0VGkjWeBUZCd7r5Az2hUImhMoWxWLUicOedsmvG0g=,discover,Discover Genre,online-playlist,1

In [3]:
#далее я объединяю все свои данные в один df
train_data = pd.merge(train, songs, on='song_id', how='left')
test_data = pd.merge(test, songs, on='song_id', how='left')
del songs

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377418 entries, 0 to 7377417
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   msno                object
 1   song_id             object
 2   source_system_tab   object
 3   source_screen_name  object
 4   source_type         object
 5   target              int64
 6   song_length         float64
 7   genre_ids           object
 8   artist_name         object
 9   composer            object
 10  lyricist            object
 11  language            float64
dtypes: float64(2), int64(1), object(9)
memory usage: 675.4+ MB

In [4]:

train_data = pd.merge(train_data, members, on='msno', how='left')
test_data = pd.merge(test_data, members, on='msno', how='left')
del members

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377418 entries, 0 to 7377417
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   msno                    object
 1   song_id                 object
 2   source_system_tab       object
 3   source_screen_name      object
 4   source_type             object
 5   target                  int64
 6   song_length             float64
 7   genre_ids               object
 8   artist_name             object
 9   composer                object
 10  lyricist                object
 11  language                float64
 12  city                    int64
 13  bd                      int64
 14  gender                  object
 15  registered_via          int64
 16  registration_init_time  int64
 17  expiration_date         int64
dtypes: float64(2), int64(6), object(10)
memory usage: 1013.1+ MB

In [5]:

train_data = pd.merge(train_data, song_info, on='song_id', how='left')
test_data = pd.merge(test_data, song_info, on='song_id', how='left')
del song_info

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377418 entries, 0 to 7377417
Data columns (total 20 columns):
 #   Column                  Dtype
---  ------                  -----
 0   msno                    object
 1   song_id                 object
 2   source_system_tab       object
 3   source_screen_name      object
 4   source_type             object
 5   target                  int64
 6   song_length             float64
 7   genre_ids               object
 8   artist_name             object
 9   composer                object
 10  lyricist                object
 11  language                float64
 12  city                    int64
 13  bd                      int64
 14  gender                  object
 15  registered_via          int64
 16  registration_init_time  int64
 17  expiration_date         int64
 18  name                    object
 19  isrc                    object
dtypes: float64(2), int64(6), object(12)
memory usage: 1.1+ GB

In [6]:
#хочу избавиться от nullов и оценить, сколько различных значений принимает каждое поле
def check_values(data):
    res = pd.DataFrame()
    res["Null values"]=data.isnull().sum()
    res["Unique values"]=data.nunique().sort_values(ascending=True)
    return res

table_value = check_values(train_data)
table_value

                        Null values  Unique values
msno                              0          30755
song_id                           0         359966
source_system_tab             24849              8
source_screen_name           414804             20
source_type                   21539             12
target                            0              2
song_length                     114          60266
genre_ids                    118455            572
artist_name                     114          40582
composer                    1675706          76064
lyricist                    3178812          33887
language                        150             10
city                              0             21
bd                                0             92
gender                      2961479              2
registered_via                    0              5
registration_init_time            0           3811
expiration_date                   0           1395
name                           1457         234144
isrc                         577858         269760

In [7]:
import numpy as np
#избавляюсь от пустых значений.
def delete_nans(data):
    categories = data.select_dtypes(include='O').columns
    numbers = data.select_dtypes(include=(np.number)).columns
    for col in categories:
        data[col] = data[col].fillna('Unknown')
    for col in numbers:
        data[col] = data[col].interpolate(method='linear')
    return data

In [8]:
train_data = delete_nans(train_data)
table_value = check_values(train_data)
table_value

                        Null values  Unique values
msno                              0          30755
song_id                           0         359966
source_system_tab                 0              9
source_screen_name                0             20
source_type                       0             13
target                            0              2
song_length                       0          60354
genre_ids                         0            573
artist_name                       0          40583
composer                          0          76064
lyricist                          0          33887
language                          0             19
city                              0             21
bd                                0             92
gender                            0              3
registered_via                    0              5
registration_init_time            0           3811
expiration_date                   0           1395
name                              0         234144
isrc                              0         269761

In [9]:
#представлю даты как набор числовых полей для повышения колличества признаков
def fix_time(data):
    dates = ['registration_init_time','expiration_date']
    for date in dates:
        data[date] = pd.to_datetime(data[date], format='%Y%m%d', errors='ignore')
        data[date[:3] + '_year'] = data[date].dt.year
        data[date[:3] + '_month'] = data[date].dt.month
        data[date[:3] + '_day'] = data[date].dt.day
    data.drop(dates, axis = 1 , inplace= True)
    return data

train_data = fix_time(train_data)
train_data

/tmp/ipykernel_102288/2822776465.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  data[date] = pd.to_datetime(data[date], format='%Y%m%d', errors='ignore')
/tmp/ipykernel_102288/2822776465.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  data[date] = pd.to_datetime(data[date], format='%Y%m%d', errors='ignore')

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,...,gender,registered_via,name,isrc,reg_year,reg_month,reg_day,exp_year,exp_month,exp_day
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,...,Unknown,7,Good Grief,GBUM71602854,2012,1,2,2017,10,5
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,Unknown,...,female,9,Lords of Cardboard,US3C69910183,2011,5,25,2017,9,11
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,...,female,9,Hip Hop Is Dead(Album Version (Edited)),USUM70618761,2011,5,25,2017,9,11
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,1019,Soundway,Kwadwo Donkoh,...,female,9,Disco Africa,GBUQH1000063,2011,5,25,2017,9,11
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,...,Unknown,7,Sleep Without You,QM3E21606003,2012,1,2,2017,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377413,6xdFzPlrasIDD95mQWXVC3Bg4ptnGYtBl4ztVEZMddU=,VJTxizih/o28kXCbtPbIyWXScoXGvxyYtl6R+0YB5JM=,my library,Local playlist more,local-playlist,1,267958.0,1259,Dr. Dre,Andre R. Young| Melvin Charles Bradford| Shawn...,...,female,9,Still D.R.E.,USIR19905031,2004,12,18,2017,9,30
7377414,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,z1mqaU9YOX7T/PFDvUoWozdFq7rC3KwaQP7nFVprjMI=,search,Search,song,0,227404.0,465,R. City feat. Adam Levine,Theron Thomas| Timothy Thomas| Lukasz Gottwald...,...,Unknown,7,Locked Away,USRC11501369,2013,6,27,2017,10,6
7377415,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,750RprmFfLV0bymtDH88g24pLZGVi5VpBAI300P6UOA=,search,Search,song,1,258298.0,465,兄弟本色G.U.T.S. (姚中仁、張震嶽、頑童MJ116),姚中仁 MC HotDog 陳昱榕 Ｅ-SO 周文傑 KENZY 林睦淵,...,Unknown,7,FLY OUT,TWA451512031,2013,6,27,2017,10,6
7377416,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,G8wgqObgeAMER/rVCIlgcNeQ8mm0CzF/GsxiMK8TTnA=,discover,Discover Genre,online-playlist,1,524146.0,2122,Brad Mehldau Trio,Unknown,...,Unknown,9,Wonderwall,USNO10750721,2015,2,13,2017,9,18
7377417,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,Ju0VGkjWeBUZCd7r5Az2hUImhMoWxWLUicOedsmvG0g=,discover,Discover Genre,online-playlist,1,254026.0,212,Biréli Lagrène| Sylvain Luc,Robert Andrew Hyman| Cyndy Lauper,...,Unknown,9,Time after time,FR14F9900090,2015,2,13,2017,9,18

In [10]:
from sklearn.preprocessing import LabelEncoder
#эндокдинг, приведение категориальных признаков к числовым
categories = train_data.select_dtypes(include="O").columns
encoder = LabelEncoder()
for category in categories:
    train_data[category] = encoder.fit_transform(train_data[category])

In [11]:
train_data.drop(['msno', 'song_id'], axis = 1 , inplace= True)
train_data

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,...,gender,registered_via,name,isrc,reg_year,reg_month,reg_day,exp_year,exp_month,exp_day
0,2,7,7,1,206471.0,285,3277,14581,21153,52.0,...,0,7,51445,65244,2012,1,2,2017,10,5
1,4,8,5,1,284584.0,90,31961,60953,21153,52.0,...,1,9,81301,195670,2011,5,25,2017,9,11
2,4,8,5,1,225396.0,90,21372,45057,21153,52.0,...,1,9,57307,253629,2011,5,25,2017,9,11
3,4,8,5,1,255512.0,6,27439,36700,21153,-1.0,...,1,9,34728,65572,2011,5,25,2017,9,11
4,2,7,7,1,187802.0,2,4472,8485,21153,52.0,...,0,7,121801,131942,2012,1,2,2017,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377413,4,8,5,1,267958.0,90,8749,3515,21153,52.0,...,1,9,126885,224713,2004,12,18,2017,9,30
7377414,7,15,9,0,227404.0,344,24013,58948,20506,52.0,...,0,7,80667,237130,2013,6,27,2017,10,6
7377415,7,15,9,1,258298.0,344,34937,67637,25540,3.0,...,0,7,42510,156583,2013,6,27,2017,10,6
7377416,1,5,7,1,524146.0,219,4380,60953,21153,52.0,...,0,9,156398,231850,2015,2,13,2017,9,18
7377417,1,5,7,1,254026.0,218,3867,51420,17977,52.0,...,0,9,141974,26545,2015,2,13,2017,9,18

In [13]:
y = train_data['target']
y

0          1
1          1
2          1
3          1
4          1
          ..
7377413    1
7377414    0
7377415    1
7377416    1
7377417    1
Name: target, Length: 7377418, dtype: int64

In [14]:
X = train_data.drop(columns=['target'])
X

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,...,gender,registered_via,name,isrc,reg_year,reg_month,reg_day,exp_year,exp_month,exp_day
0,2,7,7,206471.0,285,3277,14581,21153,52.0,1,...,0,7,51445,65244,2012,1,2,2017,10,5
1,4,8,5,284584.0,90,31961,60953,21153,52.0,13,...,1,9,81301,195670,2011,5,25,2017,9,11
2,4,8,5,225396.0,90,21372,45057,21153,52.0,13,...,1,9,57307,253629,2011,5,25,2017,9,11
3,4,8,5,255512.0,6,27439,36700,21153,-1.0,13,...,1,9,34728,65572,2011,5,25,2017,9,11
4,2,7,7,187802.0,2,4472,8485,21153,52.0,1,...,0,7,121801,131942,2012,1,2,2017,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377413,4,8,5,267958.0,90,8749,3515,21153,52.0,4,...,1,9,126885,224713,2004,12,18,2017,9,30
7377414,7,15,9,227404.0,344,24013,58948,20506,52.0,1,...,0,7,80667,237130,2013,6,27,2017,10,6
7377415,7,15,9,258298.0,344,34937,67637,25540,3.0,1,...,0,7,42510,156583,2013,6,27,2017,10,6
7377416,1,5,7,524146.0,219,4380,60953,21153,52.0,5,...,0,9,156398,231850,2015,2,13,2017,9,18
7377417,1,5,7,254026.0,218,3867,51420,17977,52.0,5,...,0,9,141974,26545,2015,2,13,2017,9,18

In [16]:
from sklearn.model_selection import train_test_split
#разделение набора данных для последующего обучения на моделях
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=42)

In [20]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl (297.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.1/297.1 MB 3.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy in /home/guest/.local/lib/python3.10/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /home/guest/.local/lib/python3.10/site-packages (from xgboost) (1.12.0)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [57]:
#далее подсчёт штрафа для каждой модели

import xgboost as xgb
from sklearn.metrics import ndcg_score
import numpy as np

model = xgb.XGBRegressor()
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
n = 20

ndcg_train = ndcg_score(y_train.reshape(1, -1), y_train_pred.reshape(1, -1), k = 20)
ndcg_val = ndcg_score(y_val.reshape(1, -1), y_val_pred.reshape(1, -1), k = 20)

print(f"NDCG на тренировочных данных (xgb model): {ndcg_train}")
print(f"NDCG на тестовых данных (xgb model): {ndcg_val}")

NDCG на тренировочных данных (xgb model): 1.0
NDCG на тестовых данных (xgb model): 1.0

In [30]:
from sklearn.ensemble import GradientBoostingClassifier

model_gb =  DecisionTreeRegressor()
model_gb.fit(X_train, y_train)

y_train_pred_gb = model_gb.predict(X_train)
y_val_pred_gb = model_gb.predict(X_val)

ndcg_train_gb = ndcg_score(y_train.reshape(1, -1), y_train_pred_gb.reshape(1, -1), k = 20)
ndcg_val_gb = ndcg_score(y_val.reshape(1, -1), y_val_pred_gb.reshape(1, -1), k = 20)

print(f"NDCG на тренировочных данных (gb model): {ndcg_train_gb}")
print(f"NDCG на тестовых данных (gb model): {ndcg_val_gb}")

NDCG на тренировочных данных (gb model): 0.9651100903291838
NDCG на тестовых данных (gb model): 0.9622102748170407

In [32]:
from sklearn.tree import DecisionTreeClassifier

model_dt = DecisionTreeRegressor()
model_dt.fit(X_train, y_train)

y_train_pred_dt = model_dt.predict(X_train)
y_val_pred_dt = model_dt.predict(X_val)

ndcg_train_dt = ndcg_score(y_train.reshape(1, -1), y_train_pred_dt.reshape(1, -1), k = 20)
ndcg_val_dt = ndcg_score(y_val.reshape(1, -1), y_val_pred_dt.reshape(1, -1), k = 20)

print(f"NDCG на тренировочных данных (dt model): {ndcg_train_dt}")
print(f"NDCG на тестовых данных (dt model): {ndcg_val_dt}")

NDCG на тренировочных данных (dt model): 0.9999249099522575
NDCG на тестовых данных (dt model): 0.962439091632789

In [37]:
#теперь перейдем к содержимому файла test.csv
test_data = delete_nans(test_data)
table_value = check_values(test_data)
table_value

                        Null values  Unique values
id                                0        2556790
msno                              0          25131
song_id                           0         224753
source_system_tab                 0              9
source_screen_name                0             22
source_type                       0             13
song_length                       0          45677
genre_ids                         0            502
artist_name                       0          27564
composer                          0          52306
lyricist                          0          24909
language                          0             16
city                              0             21
bd                                0             89
gender                            0              3
registered_via                    0              6
registration_init_time            0           3749
expiration_date                   0           1189
name                              0         154716
isrc                              0         170988

In [39]:
test_data = fix_time(test_data)
categories = test_data.select_dtypes(include="O").columns
encoder = LabelEncoder()
for category in categories:
    test_data[category] = encoder.fit_transform(test_data[category])

test_data

/tmp/ipykernel_102288/2822776465.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  data[date] = pd.to_datetime(data[date], format='%Y%m%d', errors='ignore')
/tmp/ipykernel_102288/2822776465.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  data[date] = pd.to_datetime(data[date], format='%Y%m%d', errors='ignore')

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,...,gender,registered_via,name,isrc,reg_year,reg_month,reg_day,exp_year,exp_month,exp_day
0,0,12934,122191,4,8,4,224130.0,300,24890,33218,...,0,7,124185,121924,2016,2,19,2017,9,18
1,1,12934,217907,4,8,4,320470.0,306,24743,47677,...,0,7,117568,105721,2016,2,19,2017,9,18
2,2,712,37385,1,21,10,315899.0,158,21879,43194,...,0,4,101767,64875,2016,11,17,2016,11,24
3,3,1383,224360,6,16,8,285210.0,306,20718,39607,...,2,9,35970,20114,2007,7,25,2017,4,30
4,4,1383,85597,6,16,8,197590.0,429,21762,30731,...,2,9,62287,47735,2007,7,25,2017,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556785,2556785,14024,212075,1,11,7,247640.0,100,19201,2559,...,1,9,77558,149081,2010,11,26,2017,9,21
2556786,2556786,18800,78127,1,21,7,197067.0,300,26483,46255,...,2,9,104979,5487,2014,5,6,2017,9,12
2556787,2556787,18800,219419,1,21,7,212950.0,300,23458,37581,...,2,9,123921,109968,2014,5,6,2017,9,12
2556788,2556788,18800,121326,1,21,7,164414.0,306,26764,41118,...,2,9,150061,118370,2014,5,6,2017,9,12
2556789,2556789,18800,154308,1,21,7,231552.0,300,23475,45658,...,2,9,138075,117129,2014,5,6,2017,9,12

In [64]:
test_data = test_data.drop(columns=['id', 'msno', 'song_id'])
#подготовка тестовых данных аналогично тренировочным

In [42]:
test_data

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,...,gender,registered_via,name,isrc,reg_year,reg_month,reg_day,exp_year,exp_month,exp_day
0,4,8,4,224130.0,300,24890,33218,15017,3.0,1,...,0,7,124185,121924,2016,2,19,2017,9,18
1,4,8,4,320470.0,306,24743,47677,18458,3.0,1,...,0,7,117568,105721,2016,2,19,2017,9,18
2,1,21,10,315899.0,158,21879,43194,15871,17.0,1,...,0,4,101767,64875,2016,11,17,2016,11,24
3,6,16,8,285210.0,306,20718,39607,15017,52.0,3,...,2,9,35970,20114,2007,7,25,2017,4,30
4,6,16,8,197590.0,429,21762,30731,15017,-1.0,3,...,2,9,62287,47735,2007,7,25,2017,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556785,1,11,7,247640.0,100,19201,2559,779,52.0,13,...,1,9,77558,149081,2010,11,26,2017,9,21
2556786,1,21,7,197067.0,300,26483,46255,18727,3.0,13,...,2,9,104979,5487,2014,5,6,2017,9,12
2556787,1,21,7,212950.0,300,23458,37581,23633,3.0,13,...,2,9,123921,109968,2014,5,6,2017,9,12
2556788,1,21,7,164414.0,306,26764,41118,15017,3.0,13,...,2,9,150061,118370,2014,5,6,2017,9,12
2556789,1,21,7,231552.0,300,23475,45658,18085,3.0,13,...,2,9,138075,117129,2014,5,6,2017,9,12

In [53]:
y_test_xgb = model.predict(test_data)
y_test_gb = model_gb.predict(test_data)
y_test_dt = model_dt.predict(test_data)
#подставляю полученный df в свои модели и выбираю лучшую.

In [65]:
test = pd.read_csv("test.csv")
result_xgb = pd.DataFrame({'id': test['id'], 'target': y_test_xgb)})
result_xgb.to_csv('result_xgb.csv', index=False)

result_gb = pd.DataFrame({'id': test['id'], 'target': y_test_gb})
result_gb.to_csv('result_gb.csv', index=False)

result_dt = pd.DataFrame({'id': test['id'], 'target': y_test_dt})
result_dt.to_csv('result_dt.csv', index=False)

In [61]:
#мой лучший score равен 0.62081 (первая модель).

In [72]:
from surprise import Dataset, Reader, SVD
#построим рекомендации для пользователя
df = pd.DataFrame(result_xgb, columns=['id', 'target'])
reader = Reader(rating_scale=(df['target'].min(), df['target'].max()))
dataset = Dataset.load_from_df(df[['id', 'id', 'target']], reader)
dataset = dataset.build_full_trainset()
model = SVD()
model.fit(dataset)

In [79]:
user_id = 42 
user_items = df[df['id'] == user_id]['id'].values
unseen_items = []
all_items = df['id'].unique()
for item in all_items:
    if item not in user_items:
        unseen_items.append((user_id, item, 0))
predictions = model.test(unseen_items)
recommendations = sorted(predictions, key=lambda x: x.est, reverse=True)[:20]

In [80]:
print("Recommendations for user", user_id)
for rec in recommendations:
    print(rec.iid)

Recommendations for user 42
1123469
1653105
1713112
1287637
808269
981113
2022398
646905
2351626
1896303
1788262
1845267
1475739
1728705
1408384
2276278
1677063
2389860
766991
1589103

In [ ]:
score = ndcg_score([relevance_scores], k=k)